@import 'https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic';
@import url("https://fonts.googleapis.com/css?family=Trirong:300,300i,400,400i");
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* ------------------------------------------------------------------ */

.mediumWrapper{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content: center;
    /* overflow:hidden; */
    margin-bottom: 20px;
    /* background-color: white; */
}
.cardWrapper{
    height:auto;
    width:350px;
    color: grey;
    overflow:hidden;
    box-shadow: rgba(28, 28, 28, 0.12) 0px 2px 8px;
    padding-bottom:50px;
    margin: 10px;
    background-color: white;
    justify-content: center;
}

.imageWrapper{
    height:200px;
    width:auto;
    overflow:hidden;
}

.image{
    height:auto;
    width:auto;
    overflow:hidden;
}

.titleWrapper{
    color:rgb(53, 51, 51);
    font-size: 20px;
    font-family: Poppins;
    margin-top:20px;
    padding-left:25px;
    padding-right:30px;
    text-align:left;
}

.publisher{
    color:grey;
    font-size: 13px;
    font-family: Poppins;
    margin-top:10px;
    text-align:left;
}

.redirectButtonWrapper{
    margin-top:15px;
    /* margin-bottom:20px; */
}

.redirectButton{
    background-color:#2979FF;
    color:white;
    padding:10px;
    border:none;
    border-radius: 2px;
    font-family: Poppins;
    text-transform:uppercase;
    font-size:10px;
}

.redirectLink{
    text-decoration: none;
}


@media only screen and (max-width: 450px){
    .mediumWrapper{
        position:relative;
        display:flex;
        flex-direction:column;
        justify-content: center;
        width:100%;
        overflow:hidden;
        /* background-color: white; */
    }
    .cardWrapper{
        height:auto;
        width:250px;
        color: grey;
        overflow:hidden;
        box-shadow: rgba(28, 28, 28, 0.12) 0px 2px 8px;
        padding-bottom:50px;
        /* margin: 10px; */
        justify-content: center;
        /* margin-left:20px; */
        margin:auto;
        margin-bottom: 30px;
        background-color: white;
    }

    .imageWrapper{
        height:200px;
        width:auto;
        overflow:hidden;
    }

    .image{
        height:auto;
        width:auto;
        overflow:hidden;
    }

    .titleWrapper{
        color:rgb(53, 51, 51);
        font-size: 20px;
        font-family: Poppins;
        margin-top:20px;
        padding-left:25px;
        padding-right:30px;
        text-align:left;
    }

    .publisher{
        color:grey;
        font-size: 13px;
        font-family: Poppins;
        margin-top:10px;
        text-align:left;
    }

    .redirectButtonWrapper{
        margin-top:15px;
        /* margin-bottom:20px; */
    }

    .redirectButton{
        background-color:#2979FF;
        color:white;
        padding:10px;
        border:none;
        border-radius: 2px;
        font-family: Poppins;
        text-transform:uppercase;
        font-size:10px;
        margin:auto;
    }

    .redirectLink{
        text-decoration: none;
    }
}