		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			font-family: 'Quicksand';
			background: #c0392b !important;
		}
		*{
			font-family: 'Quicksand';
		}
		button{
			font-weight: bold;
		}
		.dashboard-cont{
			background: #c0392b;
			display: flex;
			justify-content: center;
			align-items: center;
			/* width: 100%; */
			flex-direction: column;
		}
		.flexbox{
			/* background: green; */
			display: flex;
			flex-direction: column;
			/* align-items: center; */
			/* justify-content: center; */
			padding: 20px;
			min-height: 100vh;
			width: 40%;
		}
		.flexbox > h1{
			color: #fff;
		}
		.pizza-card{
			background: #fff;
			margin: 10px 0;
			padding: 10px 20px;
			/* width: 40%; */
			display: flex;
			flex-direction: row;
			/* justify-content: space-between; */
			border-radius: 5px;
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
		}
		.pizza-card img{
			width: 15%;
			height: 15%;
			object-fit: cover;
			align-self: center;
			/* border-radius: 100px; */
		}
		.pizza-card > div{
			
			flex:1;
			padding: 10px;
		}
		.pizza-card > div p{
			font-size: 15px;
			font-weight: bold;
		}

					
		.pizza-card .start-btn{
			align-self: flex-end;
			padding:10px 20px;
			cursor: pointer;
			border: none;
			border-radius: 3px;
			background: #c0392b;
			color:#fff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
		}


		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #ffd600;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #c0392b;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #c0392b !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #c0392b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}